<div class = "main">
  <div class = "new-btn">
    <%= link_to 'TOP', root_path, class:"link-new" %>
  </div>

  <div class="form">
      <%= form_with model: @sp_payment,url:sp_payment_path, local: true do |form| %>
      
      <%= render 'shared/error_messages', model: form.object %>
      

      
       <h3 class="new-title">結果入力</h3>
       <div>
        <%= form.collection_select(:store_id, Store.all, :id, :name, {}, {class:"store-select"}) %>
        </div>
        
        <div>
        <%= form.collection_select(:kisyu_id, Kisyu.all, :id, :name, {}, {class:"store-select"}) %>
       </div>


        <div>
        <%= form.text_field :investment_medal, placeholder: "投資メダル" ,class:"items-text"%>
        </div>
        <div>
        <%= form.text_field :investment_ball, placeholder: "投資玉" ,class:"items-text"%>
        </div>
        <div>
        <%= form.text_field :recovery_medal, placeholder: "回収メダル" ,class:"items-text"%>
        </div>
        <div>
        <%= form.text_field :recovery_ball, placeholder: "回収玉" ,class:"items-text"%>
        </div>
        <div>
        <%= form.text_field :medal, placeholder: "メダル収支" ,class:"items-text"%>
        </div>
        <div>
        <%= form.text_field :ball, placeholder: "玉収支" ,class:"items-text"%>
        </div>
        <div>
        <%= form.text_area :memo, placeholder: "メモ", rows: "10" ,class:"items-texts"%>
        </div>
        <div>
        <%= form.collection_select(:month_id, Month.all, :id, :name, {}, {class:"store-select"}) %>
        </div>
        <div>
        <%= form.collection_select(:day_id, Day.all, :id, :name, {}, {class:"store-select"}) %>
        </div>
        <div>
        <%= form.submit "SEND" ,class:"store-select"%>
        </div>
      <% end %>
    </div>


</div>