<div class="main">
  <div class = "new-btn">
    <%= link_to 'TOP', root_path, class:"link-new" %>
  </div>
  <div class = "main-head">
    <div class = "new-btn">
      <%= link_to '結果作成', new_sp_payment_path, class:"link-new" %>
    </div>
    <div class = "totals">
      <div class="show-day">
      <%="総メダル数 #{@sp_payments.sum(:medal).to_i}枚"%>
      </div>
      <div class="show-day">
      <%="総玉数 #{@sp_payments.sum(:ball).to_i}玉"%>
      </div>
      <div class="show-day">
      Total収支 <%=(@sp_payments.sum(:medal).to_i*19.5+@sp_payments.sum(:ball).to_i*3.57).to_i%>円
      </div>
    </div>
  </div>
  <div class = "main-contents">
    <%@sp_payments.each do |sp_payment|%>
      <div class = "main-content">
        <div class="content-day">
          <%=sp_payment.month.name%>
          <%=sp_payment.day.name %>
        </div>
        <%if sp_payment.medal!="0"%>
        <div class="comtent-medal">
          <%="#{sp_payment.medal}枚"%>
        </div>
        <%end%>
        <%if sp_payment.ball!="0"%>
        <div class="comtent-ball">
          <%="#{sp_payment.ball}玉"%>
        </div>
        <%end%>
        <div class="btns">
        <%= link_to '詳細', sp_payment_path(sp_payment.id),  id:'btn',class: 'btn' %>
        </div>
      </div>
    <%end%>
  </div>
</div>